# ----------------------------
# 📦 Node
# ----------------------------
**/node_modules/
**/pnpm-lock.yaml
# ----------------------------
# 🔨 Build Outputs
# ----------------------------
**/dist/
**/build/
**/.nitro/
**/.tanstack/
**/.output/
**/migrations/
**/.DS_Store

# ----------------------------
# 💅 Lint & Formatter
# ----------------------------
**/.eslintcache
**/.prettier-cache

# ----------------------------
# 🔐 Env & Config
# ----------------------------
**/.env
**/logs
